@import '../../scss/variables';
@import '../../scss/libs/normalize.scss';

@import '../../scss/components/all';

.cartEmptyBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.btn {
    max-width: 300px;
    background-color: $black;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 0.75em;
    border: 1px solid transparent;

    &:hover,
    &:active {
        background-color: lighten($color: $black, $amount: 30);
    }
}
.cart_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $main-font-family;
    font-size: $main-font-size;
    border: 1px solid $black;
    border-radius: $border-radius;
    box-shadow: 0px 15px 25px $black;
    padding: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.3));
}
.cart_data {
    font-weight: bold;
    color: $color-hover;
}
.cart_title {
    margin-right: 5px;
    font-weight: bold;
}
.amount {
    font-weight: bold;
    font-family: $main-font-family;
    font-size: $main-font-size;
    color: $color-hover;
    margin: 20px;
    text-align: end;
}
.trash_box {
    background-color: inherit;
}
.btn_trash {
    color: $color-hover;
    transition: color, transform 500ms ease;
}
.btn_trash:hover {
    color: red;
    transform: (scale(1.5));
}
