@import '../../scss/variables';
@import '../../scss/libs/normalize.scss';

@import '../../scss/components/all.scss';

section {
    flex: 1 0 auto;
    padding: 20px;
}
.wrapper {
    display: flex;
    margin: 20px 0;
    text-align: left;
}
.wrapper__column {
    flex: 0 0 33%;
    line-height: 2;
}
.description_book {
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 1px;
    margin-top: 10px;
}
.description {
    font-weight: bold;
    font-size: 24px;
}
.book_value {
    font-weight: 800;
    margin-left: 10px;
    color: $color-hover;
}
.tags {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}
.book_cover {
    border: 1px solid $black;
    border-radius: 20px;
    max-height: 330px;
    overflow: hidden;
    box-shadow: 2px 4px 4px $black;
}
.column_price {
    padding-left: 30%;
}
.count {
    font-weight: bold;
    font-size: $main-font-size;
}
.input_count {
    padding: 10px;
    margin-left: 5px;
    border-radius: 10px;
    max-width: 60px;
    outline: none;
    border: none;
}
// pageBook block

.card {
    text-align: left;
    border: 1px solid $black;
    border-radius: 10px;
    width: 300px;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 6px 6px $black;
    font-size: 12px;
    background-color: $white;
}
.column {
    justify-content: center;
    margin: 0 auto;
    font-family: $main-font-family;
}
.card_footer {
    display: flex;
    justify-content: space-between;
}
.price_desc {
    color: $color-hover;
}
