@import '../../scss/variables';
@import '../../scss/libs/normalize.scss';

@import '../../scss/components/all.scss';

section {
    flex: 1 0 auto;
    padding: 20px;
}

.wrapper {
    display: flex;
    margin: 20px 0;
    text-align: left;
}
.wrapper__column {
    flex: 0 0 33%;
    line-height: 2;
}
.description_book {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    letter-spacing: 1.2px;
    margin-top: 30px;
    font-weight: 800;
    text-align: left;
}
.description {
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
    color: $color-hover;
}
.book_value {
    font-weight: 800;
    margin-left: 10px;
    color: $color-hover;
}
.tags {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}
.book_cover {
    border: 1px solid $black;
    border-radius: 20px;
    max-height: 330px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 4px $black;
}
.book_cover:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.column_price {
    padding-left: 25%;
}
.count {
    font-weight: bold;
    font-size: $main-font-size;
}
.input_count {
    font-size: 20px;
    padding: 10px;
    margin-left: 5px;
    border-radius: $border-radius;
    max-width: 60px;
    outline: none;
    border: none;
}
.btn_input {
    padding: 5px 15px;
}
.btn_disabled {
    padding: 5px 15px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px $black;
    font-family: $secondary-font-family;
    font-size: $main-font-size;
    color: grey;
}
.btn_disabledCart {
    min-width: 200px;
    padding: 10px 15px;
    margin: 20px;
    border-radius: $border-radius;
    box-shadow: 4px 4px 4px $black;
    font-family: $secondary-font-family;
    font-size: $main-font-size;
}

// pageBook block

.card {
    text-align: left;
    border: 1px solid $black;
    border-radius: $border-radius;
    width: 300px;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 6px 6px 6px $black;
    font-size: 12px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
        transform: translateY(-5px);
    }
}
.column {
    justify-content: center;
    margin: 0 auto;
    font-family: $main-font-family;
}
.card_footer {
    display: flex;
    justify-content: space-between;
}
.price_desc {
    color: $color-hover;
}
.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 20px;
    background-color: $white;
    max-width: 600px;
    border-radius: $border-radius;
    font-family: $main-font-family;
    line-height: 1.5;
    -webkit-clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 93%,
        76% 93%,
        51% 100%,
        26% 92%,
        0 92%
    );
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 93%,
        76% 93%,
        51% 100%,
        26% 92%,
        0 92%
    );
    .btn {
        margin-top: 10px;
    }
}

// media queries

@media (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .column_price {
        padding: 0;
        max-width: 400px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width: 800px) {
    .card {
        width: 400px;
        padding: 50px 20px;
    }
}
@media (max-width: 480px) {
    .short_desc {
        font-size: 14px;
    }
}
