@import './variables';
@import './libs/normalize';

@import './components/all';

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1400px;
    margin: 0 auto;
    border-radius: $border-radius;
    padding: 20px;
    font-family: $main-font-family;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    text-align: center;
}
