@import './variables';
@import './libs/normalize';

@import './components/all';

/* Скрыть полосу прокрутки для всех браузеров */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
}
::-moz-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
}

.wrapper {
    color: grey;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(237, 244, 252);
    max-width: 1400px;
    margin: 0 auto;
    border-radius: $border-radius;
    padding: 20px;
    font-family: $main-font-family;
    overflow: auto;
    box-sizing: border-box;
    text-align: center;
}
