@import '../../scss/variables';
@import '../../scss/libs/normalize.scss';

@import '../../scss/components/all.scss';

main {
    padding: 20px;
}
.search_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box {
    width: 300px;
    height: 50px;
    box-shadow: 4px 6px 6px $black;
    border-radius: 15px;
    border: none;
}
.search {
    width: 300px;
    height: 50px;
    border: none;
    font-size: 10pt;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
    font-family: $secondary-font-family;
    font-size: $main-font-size;
}
.search_icon {
    position: relative;
    z-index: 1;
}
.icon {
    width: 22px;
    height: 22px;
    position: absolute;
    margin-left: 10px;
    margin-top: 15px;
}
.select {
    margin-left: 50px;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 4px 6px 6px $black;
    font-family: $secondary-font-family;
    font-size: $main-font-size;
}
.box:hover,
.select:hover {
    outline: 2px solid $color-hover;
}
.card_container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
}
.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 35px 35px;
    background-color: $white;
    max-width: 700px;
    border-radius: $border-radius;
    font-family: $main-font-family;
    line-height: 1.5;
    .btn {
        margin-top: 10px;
    }
}
.unfound_books {
    color: red;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10%;
}

@media (max-width: 800px) {
    .card_container {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 680px) {
    .search_block {
        display: flex;
        flex-direction: column;
    }
}
