@import '../../scss/variables';
@import '../../scss/libs/normalize.scss';

@import '../../scss/components/all.scss';

.root {
    margin-top: 100px;
    text-align: center;
    font-size: 42px;
    flex: 1 0 auto;

    p {
        color: $color-hover;
        font-weight: bold;
        font-size: 32px;
    }
}
